<md-content>
	<h1 class="text-center">SignIn</h1>
	<div md-whiteframe="6">
		<div class="containerbox">
			<h2>User Data</h2>
			<form name="myform" ng-submit="cv.searchUser()">
				<div layout layout-margin layout-wrap>
					<md-input-container>
				        <label>User *</label>
				        <input ng-model="cv.userName" name="userName" required>
				    </md-input-container>

				    <md-input-container>
				        <label>Pass *</label>
				        <input ng-model="cv.userPass" name="userPass" required>
				    </md-input-container>
			    </div>
			    <div layout layout-align="end">
					<md-button type="submit" class="md-raised md-primary">Login</md-button>
				</div>
			</form>
		</div>
	</div>
</md-content>