<md-content>
	<h1 class="text-center">SignIn</h1>
	<div md-whiteframe="6">
		<div class="containerbox">
			<form>
				<h2>User Data</h2>
				<div layout layout-margin layout-wrap>
					<md-input-container>
				        <label>UserName *</label>
				        <input ng-model="user.name">
				    </md-input-container>
				    <md-input-container>
				        <label>Password *</label>
				        <input ng-model="user.pass">
				    </md-input-container>
			    </div>
				<md-button class="md-raised md-primary">Login</md-button>
			</form>
		</div>
	</div>
</md-content>